@model Passion_Project_Application.Models.ViewModels.DetailsManufacturer
@{
    ViewBag.Title = "View";
}
<a href="/Manufacturer/List">Go back to list</a>

<a href="/Manufacturer/Edit/@Model.SelectedManufacturer.ManufacturerID">Update</a>

<a style="color:#ab2020;" href="/Manufacturer/DeleteConfirm/@Model.SelectedManufacturer.ManufacturerID">Delete</a>


<h2>@Model.SelectedManufacturer.CompanyName</h2>
<div><span>Company Name:</span> @Model.SelectedManufacturer.CompanyName</div>
<div><span>Coountry :</span> @Model.SelectedManufacturer.Country</div>
<div><span>HeadQauters:</span>@Model.SelectedManufacturer.HeadQuarters</div>
<div><span>Company Description :</span>@Model.SelectedManufacturer.CompanyDescription</div>


<div style="margin-top:100px;">
    <h3>Aircrafts manufacturered by @Model.SelectedManufacturer.CompanyName</h3>
    @foreach (var aircraft in Model.RelatedAircrafts)
    {
        <a href="/Aircraft/Details/@aircraft.AircraftID">@aircraft.AircraftName</a>

    }
</div>